@using CVmvc.Models.Entity
@model List<TBL_EDUCATION>

    <div class="resume-section-content">

        @foreach (var x in Model)
         {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@x.HEADING</h3>
                    <div class="subheading mb-3">@x.HEADINGBELOW2</div>
                    <div>@x.HEADINGBELOW2</div>
                    <p>GPA: @x.GNO</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@x.DATE</span></div>
            </div>
            
         }


    </div>