@using CVmvc.Models.Entity;
@model List<TBL_EDUCATION>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<br />
<h2>Egitim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>HEAD</th>
        <th>HEADBELOW</th>
        <th>HEADBELOW2</th>
        <th>GNO</th>
        <th>DATE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.HEADING</td>
            <td>@item.HEADINGBELOW</td>
            <td>@item.HEADINGBELOW2</td>
            <td>@item.GNO</td>
            <td>@item.DATE</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/Egitim/EgitimSil/@item.ID">
                    <i class="fas fa-trash">
                    </i>
                    Sil
                </a>
            </td>
            <td>
                <a class="btn btn-info btn-sm" href="/Egitim/EgitimDuzenle/@item.ID">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Duzenle
                </a>
            </td>
        </tr>
    }
</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Egitim Bilgisi  Ekle</a>


